.rmli-is-animated {
    .list-item {
        display: inline-block;
    }
    .list-enter-active,
    .list-leave-active {
        transition: all 0.25s ease;
    }
    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
}
