@import './ds.scss';

body, html {
    margin: 0px;
    font-size: $font-size-default;
}

#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color1;
    font-size: $font-size-default;
    line-height: $line-height;
}

.rmli-button-bar {
    display: flex;
    gap: $spacing-m;
    padding-top: $spacing-l;
}
 
.rmli-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 1px solid $button-background;
  background: $button-background;
  color: $button-color;
  margin: 0px;
  padding: $spacing-s $spacing-m;
  border-radius: $border-radius-xl;
  gap: $spacing-xs;
  font-size: $font-size-s;
  transition: 0.2s all;

  &:hover {
      background: $button-background-hover;
      border: 1px solid $button-background-hover;
  }

  i {
      font-size: $font-size-default;
      cursor: pointer;
  }

  &.rmli-button-secondary {
    border: 1px solid $border-color-transparent;
    background: $background-secondary;
    color: $color1;


    &:hover {
        background: $background-secondary-hover;
        border: 1px solid $border-color-transparent;
    }
  }
}

.rmli-drag-bar {
    height: 32px;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    -webkit-app-region: drag;
    z-index: 10000;
}

.rmli-drag-bar-below {
    padding-top: 40px;
}


.rmli-action-link {
    cursor: pointer;
    color: $color1;

    &:hover {
        color: $color1-hover;
    }
}