@import './ds.scss';

.rmli-check {
  cursor: pointer;
  font-size: $font-size-m;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: $spacing-s;


  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .rmli-check-icon {
    background-color: #fff;
    border-radius: $border-radius-s;
    height: $font-size-s;
    width: $font-size-s;
    display: inline-block;
    border: 1px solid $color1;
    padding: $spacing-xs;
    box-sizing: border-box;
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: $font-size-default;
  }

  &:hover input ~ .rmli-check-icon {
    background: #fff;
  }

  input:checked ~ .rmli-check-icon {
    background: #fff;
  }

  .rmli-check-icon:after {
    content: '';
    height: 50%;
    width: 100%;
    //border-radius: 50px;
    border-bottom: 2px solid $color1;
    border-left: 2px solid $color1;
    display: none;
    transform: rotate(-45deg);
  }

  input:checked ~ .rmli-check-icon:after {
    display: block;
  }

 
}