@import './ds.scss';

.rmli-date {
    overflow: hidden;
    height: 320px;
    font-size: $font-size-default;

    .rmli-date-header {
        display: flex;
        width: 100%;
        height: 40px;
  

        .rmli-date-header-btn {
            position: relative;
            width: 5%;
            text-align: center;
            cursor: pointer;
        }

        .rmli-date-header-label {
            position: relative;
            text-align: center;
            flex-grow: 1;
        }
    }

    .rmli-date-header-label .rmli-common-valign-center{
        width: 100%;
    }

    .rmli-date-body {
        width: 100%;
        height: 280px;
    
        table {
            width: 100%;
            height: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
        }
        
        th, td {
            height: 32px;
            padding: 5px;
            width: 14.3%;
        }

        td {
            cursor: pointer;
            border-radius: $border-radius-xl;
        }

        .rmli-date-selected,
        .rmli-date-range-start,
        .rmli-date-range-end {
            background: rgba($color: $color2, $alpha: 1);
        }
        .rmli-date-range-middle {
            background: rgba($color: $color2, $alpha: 1);
        }
    }



    
}