@import './ds.scss';

.rmli-dialog-background{

  position: fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  background: rgba(0,0,0,0.25);

  display: grid;
  place-items: center;
  z-index: 1000000;

  .rmli-dialog {
    background: $dialog-background;
    padding: $spacing-l $spacing-l;
    border-radius: $border-radius-m;
    box-shadow: $shadow-m;
    width: 400px;
    overflow: auto;

    &.rmli-dialog-m {
      width: 720px;
    }


    h1 {
      margin: 0;
      padding: 0;
      font-size: $font-size-default;

      &.rmli-margin-top-l{
        margin-top: $spacing-l;
      }
    }
  }

  .rmli-dialog-content-m{
    height: 500px;
    overflow: auto;
  }
 
}
