$primary-color: rgb(41, 122, 228);
$primary-color-hover:rgb(62, 164, 223);

$color1: #2c3e50;
$color1-hover: $primary-color;
$color1-placeholder:  hsla(210, 29%, 24%, 0.314);
$color-hint: #2c3e5099;

$background-primary: #fff;
$background-secondary: #2c3e5022; // rgba(0,0,0, 0.1);

$color2: #fdc433;
$color3: #75cf39;
$color4: #ff4d06;
$color5: #ff8b06;
$color6: #bd3dd6;


$button-background:$primary-color;
$button-background-hover: $primary-color-hover;
$button-color: #fff;

$spacing-xxxl:96px;
$spacing-xxl:64px;
$spacing-xl:40px;
$spacing-lx:32px;
$spacing-l:24px;
$spacing-m:16px;
$spacing-s:8px;
$spacing-xs:4px;

$font-weight: 400;
$font-weight-l: 500;
$font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

$font-size-xxl: 1.8rem;
$font-size-xl: 1.6rem;
$font-size-l: 1.4rem;
$font-size-m: 1.4rem;;
$font-size-default: 18px;
$font-size-s: 0.9rem;
$font-size-xs: 0.625rem;

$line-height: 1.5;

$border-color-transparent: transparent;
$border-color-hover: rgba(0,0,0, 0.1);
$border-color-focus: $primary-color;
$border-radius-xl: 50px;
$border-radius-m: 8px;
$border-radius-s: 4px;

$shadow-s: 0 2px 10px rgba(0,0,0, 0.15);
$shadow-m: 0 5px 20px rgba(0,0,0, 0.15);
