$color1: #2c3e50;
$color2: #ffe44b;
$color3: #84d84d;
$color4: #ff4d06;
$color4-hover: #ff4006;
$color5: #7e716e;
$color6: #d63db5;
$color7: #333;
$color8: rgb(41, 122, 228);

$color-search: rgb(161, 201, 238);
$primary-color: $color8;
$primary-color-hover:rgb(15, 106, 224);

$color1-hover: $primary-color;
$color1-placeholder:  hsla(210, 29%, 24%, 0.314);
$color-hint: #818B96;

$background-primary: #fff;
$background-secondary: #2c3e5022; 
$background-secondary-hover: #2c3e5033;

$button-background:$primary-color;
$button-background-hover: $primary-color-hover;
$button-color: #fff;

$color-due: rgba($color4, 1);
$color-due-border: rgba($color4, 1);

$color-pinned: $color6;
$color-pinned-border: $color6;

$color-code: #2c3e50;
$background-code: #d3e5fd;

$spacing-xxxl:96px;
$spacing-xxl:64px;
$spacing-xl:40px;
$spacing-lx:32px;
$spacing-l:24px;
$spacing-m:16px;
$spacing-s:8px;
$spacing-xs:4px;

$font-weight: 400;
$font-weight-l: 500;
$font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

$font-size-xxl: 1.8rem;
$font-size-xl: 1.6rem;
$font-size-l: 24px;
$font-size-m: 24px;
$font-size-default: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

$line-height: 1.4;
$line-height-m: 1.6;


$border-color-transparent: transparent;
$border-color-hover: rgba(0,0,0, 0.1);
$border-color-focus: $primary-color;
$border-color-timeline: $color-hint;
$border-color-timeline-hover: $color-hint;

$border-radius-xl: 30px;
$border-radius-m: 8px;
$border-radius-s: 2px;

$shadow-s: 0 2px 8px rgba(0,0,0, 0.15);
$shadow-m: 0 5px 24px rgba(0,0,0, 0.15);
$shadow-l: 0 5px 32px rgba(0,0,0, 0.15);

$dialog-background: #fff;
