$color1: #2c3e50;
$color1-hover: rgb(44, 44, 44);

$spacing-xxl:64px;
$spacing-xl:40px;
$spacing-lx:32px;
$spacing-l:24px;
$spacing-m:16px;
$spacing-s:8px;
$spacing-xs:4px;

$font-family: Avenir, Helvetica, Arial, sans-serif;
$font-size-xxl: 32px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;

$border-color-transparent: tranparent;
$border-color-focus: red;
$border-radius-m: 8px;
$border-radius-s: 4px;

$shadow-s: 0 2px 10px rgba(0,0,0, 0.15);
$shadow-m: 0 5px 20px rgba(0,0,0, 0.15);
