@import './ds.scss';

.rmli-editor {
    min-height: calc(100vh);
    display: flex;

    .rmli-sidebar {
        align-items: stretch;
    }

    .rmli-editor-body {
        flex-grow: 1;
    }
    
    .rmli-element-list {
        display: flex;
        flex-flow: column;
        height: calc(100vh - 128px);
        overflow: auto;
  
        .rmli-element{
            padding: 0px;
        }
    }
   
    .rmli-element-add {
   
    }

    .rmli-element-add-behind {
        opacity: 0;
        transition: opacity 0.2s;
        transition-delay: 0.2s;

        &:hover {
            opacity: 1;
            transition-delay: 0;
        }
    }

}