@import './ds.scss';

.rmli-editor {
    min-height: calc(100vh);
    display: flex;





    .rmli-sidebar {
        align-items: stretch;
    }

    .rmli-editor-body {
        flex-grow: 1;
    }
    
    .rmli-element-list {
        display: flex;
        flex-flow: column;
        height: calc(100vh - 128px);
        overflow: auto;
        padding: 0px $spacing-m;
        align-items: center;       
    }

    .rmli-element-border{
        border-top: 1px solid rgba(0,0,0, 0.05);

    }
    .rmli-element-no-border .rmli-element-border{
        border-top: 1px solid rgba(0,0,0, 0);
    }
    

   


    .rmli-element-add-behind {
        opacity: 0;
        transition: opacity 0.2s;
        transition-delay: 0.2s;

        &:hover {
            opacity: 1;
            transition-delay: 0;
        }
    }

   
}

.rmli-status{
    background: rgba($color1, 0.8);
    color: #fff;
    position: fixed;
    font-size: $font-size-xxs;
    bottom: $spacing-xs;
    right: $spacing-xs;
    border-radius: $border-radius-m;
    padding: $spacing-xs $spacing-s;

    &.rmli-status-hidden {
        opacity: 0;
    }
}

h1 {
    padding: $spacing-m $spacing-m;
    margin: 0px;
    font-size: $font-size-l;
}

h1.rmli-pinned {
    //border-left: 3px solid $color-pinned-border;
}