@use './ds.scss' as *;

.rmli-help {
    width: 720px;
    font-size: $font-size-s ;

    ul {
        list-style: none;
    }

    li{
        padding: $spacing-s;
    }

    .rmli-help-example-icon {
        font-weight: 700;
        border: 1px solid $border-color-hover;
        padding: $spacing-xs;
    }

   
    .rmli-paragraph{
        line-height: 2;
    }

    .rmli-help-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
 
        .rmli-logo{
            margin-top: $spacing-xxl;
        }

     
        .rmli-secondary-label {
            position: absolute;
            bottom: $spacing-s;
            right: $spacing-s;
        }
    }

    
    h3 {
        font-size: $font-size-s ;
        margin: $spacing-m 0px;
        margin-top: $spacing-xl;
    }
}