@use './ds.scss' as *;

.rmli-help {
    width: 720px;
    font-size: $font-size-s ;

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        padding-left: $spacing-m;
    }

    li{
        padding: $spacing-xs;
    }

    .rmli-help-example-icon {  
        padding: $spacing-xs;
        background: rgba($color: $color2, $alpha: 1.0);
        border-radius: 50%;
        height: $font-size-s;
        width: $font-size-s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }

   
    .rmli-paragraph{
        line-height: 2;
    }

    .rmli-help-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
 
        .rmli-logo{
            margin-top: $spacing-xxl;
        }

     
        .rmli-secondary-label {
            position: absolute;
            bottom: $spacing-s;
            right: $spacing-s;
        }
    }

    
    h3 {
        font-size: $font-size-s ;
        margin: $spacing-m 0px;
        margin-top: $spacing-xl;
    }
}