@use './ds.scss' as *;
.rmi-highlight-tag {
    background: rgba($color: $color2, $alpha: 0.8);
}

.rmi-highlight-person {
    background: rgba($color: $color3, $alpha: 0.8);
}

.rmi-highlight-code {
    background: $background-code;
    color: $color-code;
    padding: $spacing-s $spacing-s;
    border-radius: $border-radius-m;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    line-height: 1;
    .rmi-highlight-code-action{
        position: absolute;
        right: $spacing-s;
        top: $spacing-s;
        display: flex;
        gap: $spacing-s;


        i {
            cursor: pointer;
            font-size: 14px;
            opacity: 0.8;
        }

        i:hover{
            opacity: 1;
        }
    }
}

.rmi-highlight-query {
    background: $color-search;
    .rmi-highlight-person, .rmi-highlight-tag{
        background: $color-search;
    }
}

.rmi-highlight-task {
    height: $font-size-s;
    width: $font-size-s;
    border-radius: $border-radius-s; 
    display: inline-block;
    border: 1px solid $color1;
    padding: $spacing-xs;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1;
}



.rmi-highlight-task-done::after {
    content: '';   
    display: block;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid $color1;
    border-left: 2px solid $color1;
    transform: rotate(-45deg);
}

.rmi-highlight-pointer {

    .rmi-highlight-tag, 
    .rmi-highlight-task,
    .rmi-highlight-person {
        cursor: pointer;
    }
}

.rmli-lowlight {
    color: rgba($color1, 0.5)
}