
.rmi-highlight-tag {
    background: rgba($color: $color2, $alpha: 1);
}

.rmi-highlight-person {
    background: rgba($color: $color3, $alpha: 1);
}

.rmi-highlight-task {
    height: $font-size-s;
    width: $font-size-s;
    display: inline-block;
    border: 1px solid $color1;
    border-radius: 50px;
    padding: $spacing-xs;
    box-sizing: border-box;
    vertical-align: middle;
}

.rmi-highlight-task-done::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: $color1;
}
