@import './ds.scss';

.rmli-container {
    width: 100%;
    max-width: 800px;
}

.rmli-margin-top-s {
    margin-top: $spacing-s;
}


.rmli-margin-top-m {
    margin-top: $spacing-m;
}

.rmli-margin-top-l {
    margin-top: $spacing-l;
}

.rmli-margin-top-xl {
    margin-top: $spacing-xl;
}

.rmli-margin-top-xxl {
    margin-top: $spacing-xxl;
}


.rmli-margin-top-xxxl {
    margin-top: $spacing-xxxl;
}