@import './ds.scss';

.rmli-note{
   
    margin: 0px;
    padding: $spacing-l 0px;
    padding-top: 0px;
 
    border-left: 3px solid $border-color-transparent;

    .rmli-note-status {
        height: $spacing-m;
        font-size: $font-size-xs;
        padding: 0px $spacing-m;
        padding-top: $spacing-s;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: $color-hint;
        gap: $spacing-xs;

        i {
            cursor: pointer;
            font-size: $font-size-s;
            width: 24px;
            height: 24px;
            border-radius: 50px;
            text-align: center;

            &:hover {
                color: $color1-hover;
            }

            &.rmli-note-icon-active{
                background: $background-secondary;
                color: $color1-hover;

                &.rmli-pinned {
                    color: $color-pinned;
                }

                &.rmli-due {
                    color: $color-due;
                }
            }
        }

        .rmli-note-more:hover {
            background: $background-secondary;
            color: $color1-hover;
        }
    }


    &:hover{
        border-left: 3px solid $border-color-hover;
    }

    &.rmli-pinned {
        border-left: 3px solid $color-pinned-border;
        //background: rgba($color3, .05);
    }

    &.rmli-due {
        border-left: 3px solid $color-due-border;
    }
    
    &.rmli-focus {
        border-left: 3px solid rgba($border-color-focus, 1);
    }

    textarea, .rmli-editable{
        border: none;
        line-height: $line-height;
        font-weight: $font-weight;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
        font-size: $font-size-s;
        font-family: $font-family;
        padding: $spacing-m $spacing-m;
        resize: none;
        overflow: hidden;
        white-space: pre-wrap;

        &:hover {
            outline: none;
        }

        &:focus {
            outline: none;
        }

        .rmi-highlight-tag {
            background: rgba($color: $color2, $alpha: 1);
        }

        .rmi-highlight-person {
            background: rgba($color: $color3, $alpha: 1);
        }



    }

    .rmli-placeholder {
        color: $color1-placeholder;
        position: absolute;
        top:16px;
        left: $spacing-m;
        font-style: italic;
    }

    .rmli-placeholder-container {
        position: relative;
    }

    .rmi-highlight-task {
        height: $font-size-s;
        width: $font-size-s;
        display: inline-block;
        border: 1px solid $color1;
        border-radius: 50px;
        padding: $spacing-xs;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .rmi-highlight-task-done::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        background: $color1;
    }

    .rmi-highlight-icon {
        vertical-align: middle;
        //font-size: $font-size-xs;
    }
}

.rmli-font-size-m {

    .rmli-note {

        textarea, .rmli-editable{
            font-size: $font-size-default;
        }
    }

}


.rmli-font-size-l {

    .rmli-note {

        textarea, .rmli-editable{
            font-size: $font-size-l;
        }
    }

}