@import './ds.scss';

.rmli-note{
   
    margin: 0px;
    padding: $spacing-m 0px;
    padding-top: 0px;
    border-top: 1px solid rgba(0,0,0, 0.05);
    border-left: 3px solid $border-color-transparent;

    .rmli-note-status {
        height: $spacing-m;
        font-size: $font-size-xs;
        text-align: right;
        color: $color-hint;
    }


    &:hover{
        border-left: 3px solid $border-color-hover;
    }
    
    &.rmli-focus {
        border-left: 3px solid $border-color-focus;
    }

    textarea, .rmli-editable{
        border: none;
        line-height: $line-height;
        font-weight: $font-weight;
        width: 100%;
        box-sizing: border-box;
        font-size: $font-size-default;
        font-family: $font-family;
        padding: $spacing-s $spacing-m;
        resize: none;
        overflow: hidden;

        &:hover {
            outline: none;
        }

        &:focus {
            outline: none;
        }
    }

    .rmli-editable-placeholder {
        color: $color1-placeholder;
    }
}