@import './ds.scss';

$color-action-hover: $color1;
$spacing-action: 12px;

.rmli-sidebar {
    border-right: rgba($color: #000000, $alpha: 0.1);
    background: $background-secondary;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.2s;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;


    &.rmli-sidebar-closed  {
        width: 0px;
    }
    


    .rmli-sidebar-section-header {
        font-size: $font-size-xxs;
        font-weight: 600;
        color: rgba($color1, $alpha: 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px $spacing-action;
    }

    .rmli-sidebar-folder-list {
        flex-grow: 1;
        overflow: auto;

        i.rmli-folder-add {
            cursor: pointer;
            font-weight: 400;
            opacity: 0;
            font-size: $font-size-default;
            transition: all 0.2s;
            &:hover {
                color: $color1-hover;
                font-weight: 400;
            }
        }

        &:hover {
            i.rmli-folder-add {
                opacity: 1;
            }
        }
    }

    .rmli-sidebar-content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-grow: 1;
        gap: $spacing-l;
    }

    .rmli-sidebar-list {
        padding: $spacing-s $spacing-s;
        gap: $spacing-xs;
        display: flex;
        flex-direction: column;
    }

  

    .rmli-sidebar-menu {
        padding-top: $spacing-m;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        .rmli-sidebar-actions {
            display: flex;
            flex-direction: column;
            gap: $spacing-s;
        }
    }



    a {
        display: flex;
        align-items: center;
        gap: $spacing-s;
        cursor: pointer;
        width: 160px;
        padding: $spacing-xs $spacing-action;
        border-radius: $border-radius-xl;
       

        span {
            font-size: $font-size-xs;
        }

        input {
            background: none;
            border: none;
            font-size: $font-size-xs;
            width: 130px;
            flex-grow: 1;
            outline: none;
            padding: 0px;
            color: #fff;
        }

        &:hover{
            color: $color1-hover;
        }
    }

    .rmli-sidebar-folder-selected {
        background: $primary-color;
        span ,i {
            color: #fff;
        }
        &:hover{
           background-color: $primary-color-hover;
        }
    }

    .rmli-sidebar-folder-dnd {
        color: $color1-hover;
    }

    .rmli-sidebar-folder-add {
        span, i {
            color: rgba($color: #000000, $alpha: 0.3);
        }
        &:hover {
            span, i {
                color: $color-action-hover;
            }
        }
    }

    

}