@use './ds.scss' as *;

.rmli-splash {
    min-height: 100vh;
    display: flex;
    display: grid;
    place-items: center;

    .rmli-splash-cntr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rmli-splash-version {
        position: fixed;
        bottom: $spacing-s;
        right: $spacing-s;
        font-size: $font-size-xs;
    }


    .rmli-splash-actions {
        display: flex;
        flex-direction: row;
        gap: $spacing-l;
        width: 100%;
        justify-content: center;


        a {
            display: flex;
            align-items: center;
            gap: $spacing-xs;
            cursor: pointer;
           

            span {
                font-size: 14px;
            }

            &:hover{
                color: $color1-hover;
            }
        }

        span {
            font-size: $font-size-s;
        }
    }
}