@use './ds.scss' as *;

.rmli-tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: $spacing-xs;
    border: 1px solid transparent;
    background: $background-secondary;
    border-radius: $border-radius-m;
    padding: $spacing-s $spacing-s;
    font-size: $font-size-s;
    box-sizing: border-box;
    height: 200px;
    overflow: auto;


    &:focus-within {
        border-color: $border-color-focus;
        transition: border-color 0.2s, background 0.1s 0.1s;
        background: transparent;
    }

    .rmli-tag-list-item {
        display: inline-flex;
        align-items: center;
        gap: $spacing-xs;
        background: $button-background;
        color: $button-color;
        border-radius: $border-radius-xl;
        padding: $spacing-xs $spacing-s;
        line-height: 1;
        white-space: nowrap;
        
        .rmli-tag-list-item-remove {
            cursor: pointer;
            font-weight: $font-weight-l;
            color: $button-color;
            line-height: 1;

            &:hover {
                color: $button-color;
            }
        }
    }

    .rmli-tag-list-input {
        flex: 1 1 auto;
        min-width: 80px;
        border: none;
        outline: none;
        background: transparent;
        font-family: $font-family;
        font-size: $font-size-s;
        padding: $spacing-xs;

        &::placeholder {
            color: $color1-placeholder;
        }
    }
}
