@use './ds.scss' as *;

$color-action-hover: $color1;
$color-sidebar: #435b72;


.rmli-theme-soft {

    .rmi-highlight-code {
        background: rgba($background-code, 0.4);
    }

    .rmli-pinned {
        border-color: rgba($color-pinned-border, 0.4);
    }

    .rmli-sidebar {
 
        color: $color-sidebar;

    
        .rmli-sidebar-folder-selected {
            background: rgba($color: #000000, $alpha: 0.05);
            span ,i {
                color: $color-action-hover;
            }
            &:hover{
                span ,i {
                    color: $color1-hover;
                }
            }
        }


        input {
            &::-webkit-input-placeholder { /* Edge */
                color: rgba($color1, $alpha: 0.5);
            }     
        }

        a {
            input {
                color: $color1;
            }
        }

    }


    .rmli-note{

        &.rmli-due {
            border-left-color: rgba($color-due-border, 0.4); ;
        }
        
        &.rmli-focus {
            border-left-color: rgba($border-color-focus, 0.4);
        }
   
        textarea, .rmli-editable {
            line-height: $line-height-m;
            .rmi-highlight-tag {
                background: rgba($color: $color2, $alpha: 0.3);
            }

            .rmi-highlight-person {
                background: rgba($color: $color3, $alpha: 0.3);
            }

           
        }
    }

}