@use './ds.scss' as *;

.rmli-toolbar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
 
    .rmli-toolbar-menu {
        position: absolute;
        padding: $spacing-s ;
        left: 0px;
        top:$spacing-s;
    }
}

.rmli-toolbar {
    display: flex;
    gap: $spacing-m;
    margin-bottom: $spacing-l;
    padding: $spacing-s $spacing-m;

    .rmli-tools {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: $spacing-m;
 
    }

    .rmli-search {
        display: flex;
      
        font-size: $font-size-m;
        justify-content: flex-end;
        gap: $spacing-m;
        align-items: center;
        position: relative;
        

        &.rmli-search-attention {
            input {
                border: 1px solid $border-color-focus;
            }
        }

        input {
            border: 1px solid transparent;
            padding: $spacing-s $spacing-m;
            padding-right: 24px;
            font-size: $font-size-s;
            width: 200px;
            border-radius: $border-radius-xl;
            background: none;
            background: $background-secondary;
            transition: all 0.2s;
        
            &:focus {
                border: 1px solid $border-color-focus;
                outline:none;
                background: none;
                width: 300px;
            }
        }

        i {
            position: absolute;
            right: 10px;            
            top:7px;
            font-size: 16px;
            cursor: pointer;
        }

        .rmli-toolbar-shrink {
            right: 32px;
            top:7px;
            color: rgba($color: $color1, $alpha: 0.4);

            &.rmli-toolbar-shrink-active {
                color: rgba($color: $color1, $alpha: 1);
            }
        }
    }
    
  
}