@use './ds.scss' as *;

.rmli-tooltip {
    position: relative;
    display: inline-block;

    .rmli-tooltip-message {
        display: none;
    }

    &:hover .rmli-tooltip-message{
        display: block;
        min-width: 70px;
        max-width: 200px;
        position: absolute;
        top:100%;
        right: 0px;
        padding: $spacing-xs $spacing-s;
        background: rgba($color1, 0.8);
        color: #fff;
        font-family: $font-family;
        font-size: $font-size-xxs;
        border-radius: $border-radius-m;
        text-align: left;
        text-align: center;
        white-space: nowrap;
    }
}