@import './ds.scss';

.rmli-type-ahead {
    border: 1px solid red;
    display: none;
    border:1px solid $border-color-hover;
    box-shadow: $shadow-l;
    z-index: 1001;
    max-height: 150px;
    overflow: auto;
    background: #fff;
    border-radius: $border-radius-m;
    font-size: $font-size-s;
    padding: $spacing-xs;
    box-sizing: border-box;
   
    flex-direction: column;
    gap: $spacing-xs;

    .rmli-type-ahead-item {
        cursor: pointer;

        &.rmli-type-ahead-item-selected {
            color: $color1-hover;
        }
    }
}

.rmli-type-ahead-visible {
    display: flex;
    position: fixed;
    max-width: 200px;
    max-height: 150px;
}

.rmli-type-ahead-backdrop {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}